/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1a1b26;
  color: #a9b1d6;
}

.hljs-comment,
.hljs-quote {
  color: #565f89; /* Grey */
  font-style: italic;
}

/* Solarized Green */
.hljs-built_in,
.hljs-keyword,
.hljs-literal,
.hljs-selector-tag,
.hljs-addition {
  color: #9d7cd8; /* Some kind of purple lmao */
  font-style: italic;
}

/* Solarized Cyan */
.hljs-link,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-doctag,
.hljs-regexp {
  color: #9ece6a;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #7aa2f7;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-class .hljs-title,
.hljs-type {
  color: #73daca;
}

.hljs-variable,
.hljs-template-variable {
  color: #73daca;
}

/* Solarized Orange */
.hljs-number,
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #ff9e64;
}

/* Solarized Red */
.hljs-deletion {
  color: #f7768e;
}

.hljs-formula {
  background: #1a1b26;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
